<div class="main">
    <div>
        <ul class="list-content">
            <li class="list-height" *ngFor="let sales of salesPersonDataList.salesPerson; let i = index">
                <div class="data-section">
                    <span class="data-name">{{sales.name}}</span>
                </div>
                <div class="data-status">
                    <div ng-if="sales.isAvailable">
                        <div class="status-available">
                            {{sales.isAvailable}}
                        </div>
                    </div>
                    <div ng-if="!sales.isAvailable">
                        <div class="status-unavailable">
                            {{sales.isAvailable}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>