<div class="main">
    <div class="submit-form">
        <div [formGroup]=customerForm>
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" name="customer" class="form-control name-input" id="customer" formControlName="customer" />
            </div>

            <div class="form-group">
                <label for="description">Car Type: </label>
                <select name="carType" formControlName="carType" class="form-control car-type-select" >
                    <option *ngFor="let type of carType" [ngValue]="type.id">{{type.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="description">Language: </label>
                <input class="language" name="speaksGreek" type="checkbox" formControlName="speaksGreek" [checked]="payload.speaksGreek" (change)="payload.speaksGreek = !payload.speaksGreek" />
            </div>

            <div class="form-group btn-section">
                <button [disabled]="!customerForm?.get('customer')?.value" (click)="assignSalesPerson()" class="btnClass">Find Sales Person</button>
            </div>
        </div>
    </div>
</div>