<div style="height: 400px; width: 500px;">
    <div>
        <app-add-customer></app-add-customer>
    </div>
    <div>
        <ul style="background-color: green; height:100px">
            <li style="height:20px;" *ngFor="let customer of customerDataList.customers; let i = index">
                <div style="flex-direction: column;">
                    <span style="color: black">{{customer.customerName}}</span>
                    <span style="color: black">{{customer.salesName}}</span>
                    <span style="color: black">{{customer.car}}</span>
                    <span style="color: black">{{customer.language}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>